Repository EXPRESSFOOD2/storeclient, pull requests merged in 2023-02, with the labels that each got.

#15 Feature/3 create pages of createitem
  package-lock.json
  public/index.html
  src/App.js
  src/components/createItemMenu/Form.jsx
  src/components/createItemMenu/form.module.css
  src/components/createItemMenu/image/leftImgBG.jpg
  src/index.js
  src/pages/createItemMenu/CreateItemMenu.jsx
Labels: CSS

#39 Feature/create card menu
  src/App.js
  src/Pages/Menu/Menu.jsx
  src/Pages/Menu/Menu.module.css
  src/Shared/NavBar/NavBar.jsx
  src/components/Card_menu/Card_menu.jsx
  src/components/Card_menu/Card_menu.module.css
  src/components/MenuCards/MenuCards.jsx
  src/components/MenuCards/MenuCards.module.css
Labels: CSS

#38 Feature/Form Control on Create Item Menu Page
  package-lock.json
  package.json
  src/components/createItemMenu/Form.jsx
  src/components/createItemMenu/form.module.css
  src/pages/createItemMenu/CreateItemMenu.jsx
Labels: form, validation

#35 Se agrego estado redux menu y la action get_menu
  src/App.js
  src/redux/Actions/actions.js
  src/redux/Actions/types.js
  src/redux/Reducer/reducer.js
Labels: Redux

#40 Actualizando Paginado e implementandolo
  src/Pages/Menu/Menu.jsx
  src/Shared/Pagination/Pagination.jsx
  src/Shared/Pagination/Pagination.module.css
  src/components/MenuCards/MenuCards.jsx
Labels: CSS

#45 adding animation and current page styles
  src/Shared/NavBar/NavBar.jsx
  src/Shared/NavBar/NavBar.module.css
Labels: CSS

#48 46 dispatch menu item in menu page
  src/App.js
  src/Pages/Menu/Menu.jsx
  src/components/Card_menu/Card_menu.jsx
  src/components/MenuCards/MenuCards.jsx
  src/index.js
  src/pages/createItemMenu/CreateItemMenu.jsx
  src/redux/Reducer/reducer.js
  src/redux/Store/store.js
Labels: Redux

#50 Se agrego validación con yup al login Page
  src/Pages/LoginPage/LoginPage.jsx
  src/components/Login/Login.jsx
  src/components/Login/Login.module.css
Labels: form, validation

#51 Se agrega la action get_all_ingredients y se guarda en el estado redux.
  src/redux/Actions/actions.js
  src/redux/Actions/types.js
  src/redux/Reducer/reducer.js
Labels: Redux

#57 49 dynamic createupdate form page in menu
  src/App.js
  src/Pages/Menu/CreateOrUpdate/CreateItemMenu.jsx
  src/components/Card_menu/Card_menu.jsx
  src/components/createItemMenu/Form.jsx
  src/components/createItemMenu/form.module.css
  src/pages/createItemMenu/CreateItemMenu.jsx
Labels: Redux, form

#65 Feature/get ingredient
  src/components/Login/Login.jsx
  src/redux/Actions/actions.js
  src/redux/Actions/types.js
  src/redux/Reducer/reducer.js
Labels: Redux

#70 agregando CreateRecipe
  src/Pages/Recipe/Create/RecipeCreate.jsx
  src/components/Recipe/Create/CreateRecipe.css
  src/components/Recipe/Create/CreateRecipe.js
Labels: CSS, form

#67 Feature/63 update menu form component
  src/Pages/Menu/CreateOrUpdate/CreateItemMenu.jsx
  src/Pages/Menu/Menu.jsx
  src/components/createItemMenu/Form.jsx
  src/components/createItemMenu/form.module.css
  src/redux/Actions/actions.js
  src/redux/Actions/types.js
  src/redux/Reducer/reducer.js
Labels: Redux, form, validation

#77 Feature/76 change scrollbar and button on create menu
  src/Pages/Menu/Menu.jsx
  src/Pages/Menu/Menu.module.css
  src/Pages/Menu/menu.module.css
  src/components/MenuCards/MenuCards.module.css
  src/components/createItemMenu/Form.jsx
  src/components/createItemMenu/form.module.css
Labels: CSS

#79 Feature/78 create alert component danger success alert
  src/App.css
  src/App.js
  src/Shared/Alert/Alert.jsx
  src/Shared/Alert/alert.module.css
  src/Shared/Alert/styleType.json
  src/Shared/NavBar/NavBar.module.css
  src/redux/Actions/actions.js
  src/redux/Reducer/reducer.js
Labels: help wanted, CSS

#88 Se guarda la sesión en el local Storage y protege rutas
  src/App.js
  src/Pages/LoginPage/LoginPage.jsx
  src/Pages/Menu/Menu.jsx
  src/Shared/NavBar/NavBar.jsx
  src/redux/Actions/actions.js
  src/redux/Reducer/reducer.js
Labels: form, validation

#87 Feature/86 arreglar menu style
  package-lock.json
  package.json
  src/Pages/Menu/Menu.jsx
  src/Pages/Menu/Menu.module.css
  src/Pages/Menu/menu.module.css
  src/Pages/Recipe/Get/GetRecipe.jsx
  src/Shared/Filter/Filter.jsx
  src/Shared/Filter/Filter.module.css
  src/Shared/Pagination/Pagination.jsx
  src/Shared/Pagination/Pagination.module.css
  src/Shared/Pagination/PaginationComponent.jsx
  src/Shared/Title/Title.jsx
  src/Shared/Title/Title.module.css
  src/components/Card_menu/Card_menu.jsx
  src/components/Card_menu/Card_menu.module.css
  src/components/CreateEditStore/CreateEditStore.jsx
  src/components/CreateEditStore/CreateEditStore.module.css
  src/components/MenuCards/MenuCards.jsx
  src/components/MenuCards/MenuCards.module.css
  src/components/Register/Register.jsx
  src/components/Register/Register.module.css
  src/components/createItemMenu/form.module.css
Labels: CSS

#90 solucionando conflictos en el merge
  src/Pages/Menu/Menu.jsx
  src/redux/Actions/actions.js
Labels: bug

#91 Adding name and img at nav after loggin
  src/Shared/NavBar/NavBar.jsx
  src/Shared/NavBar/NavBar.module.css
  src/redux/Actions/actions.js
Labels: enhancement

#106 Feature/add alert and remove it auto
  src/Shared/Alert/Alert.jsx
  src/components/MenuCards/MenuCards.module.css
  src/redux/Actions/actions.js
Labels: validation

#112 Se soluciono fallo en el formulario de actualizacion menu
  src/App.js
  src/components/createItemMenu/Form.jsx
  src/index.js
Labels: bug
